

<div class="text-layout">
  <h1> Jahel Cuadrado </h1>
</div>
<button
    pButton
    label="Cambiar nombre"
    class="p-button-help"
    icon="pi pi-check"
    iconPos="right">
</button>

<p-card header="Tarjeta" subheader="Eurogamer" [style]="{'width': '25rem', 'margin-top': '2em', 'border-radius':'20px'}">
  <ng-template pTemplate="header">
    <img src="..\assets\jahel.jpg" alt="card" style="object-fit: cover; height: 20rem; border-radius:30px; padding: 15px;">

  </ng-template>

  Es muy importante que el cliente preste atención al proceso de adipiscado. Inventor, pero fruto del error del repudio, nunca dejan a nadie repelido por las más duras de ellas para nosotros, por el hecho de que son tolerables, ¡por ganas o qué!

  <ng-template pTemplate="footer">
    Hace 1000
  </ng-template>

</p-card>

<!-- <div>
  <img src="..\assets\jahel.jpg" alt="card" style="object-fit: cover; height: 30rem; width: 20rem; border-radius:20px;">

  <span style="float:left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae enim labore laborum. Minima, architecto. Similique dignissimos fugiat, exercitationem accusamus neque explicabo, libero debitis consequatur rem, atque ipsum modi quos animi?</span>

</div> -->


